*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100vh;
}
.wrapper {
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
}
.header, .footer {
  flex: 0 0 auto;
}